@font-face { font-family: JuneBug; src: url('JUNEBUG.TTF'); } 
.box{
  margin: 0 auto;
  margin-top: 0px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding:25px;
  background-color: rgba(0,0,0,.5);
  color: white;
  border: 5px solid black;
  font-family: JuneBug;
  
    
}
body{
  background-image: url(audiobg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.captions{
  display: block;
  
}
#header{
  background-color: rgba(0,0,0,.7);
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-top: 20px;
    position: relative;
    font-family: JuneBug;
    
    
}
.blocks{
    display: block;
    color: aqua;
    font-size: 20px;
    
 
}
#text{
    font-size: 3em;
    margin-right: 2%;
}
#first{
    margin-top: 0px;
}
audio{
    margin-bottom: 5%;
}