body{
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
  margin-top: 5%;
  background-color: rgba(7, 166, 99, 1);
  height: 400px;
  color: white;
  padding: 30px;
  box-shadow: 5px 10px #888888;
  border: 1px solid #888888;
  position: relative;
  font-size: 25vw;
  outline: 1px solid white;
  outline-offset: -5px;
}
.lowerbox{
  margin-top: 5%;
  box-shadow: 5px 10px #888888;
  border: 1px solid #888888;
  padding: 10px;
  background-color: white;
}
#dp img{
  position: absolute;
  width: 256px;
  right: 5%;
  top: 15%;
  max-width: 100%;
  height: auto;
}
table{
  color: white;
}
.lowerbox #icons{
  margin-top: 25px;
}
#icons{

  color: white;
  width: 25%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 1em;
  background-color: rgba(7, 166, 99, 1);
}
td{
  padding-left: 5px;
}
.mytext{
  display: block;
}
.about{
  border: 1px solid black;
  border-radius: 1em;
  padding: 25px;
  background-color: #f7f7f7;
  margin: 0 auto;
  margin-top: 25px;
}

.inputs input{
  border-radius: 1em;
  border: 1px solid black;
  box-shadow: 3px 5px #888888;
  margin-bottom: 10px;
  padding-left: 15px;
  outline: none;
}
@media screen and (max-width: 602px) {
  #dp img{
  display: none;
  }
  #icons{

    color: white;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 1em;
    background-color: rgba(7, 166, 99, 1);
  }
}
